<main class="products-list">
  <% if (prods.length > 0) { %>
  <div class="grid">
    <% for (const product of prods) { %>
    <article class="card product-item">
      <header class="card__header">
        <h1 class="product__title"><%= product.title %></h1>
      </header>
      <div class="card__image">
        <img src="<%= product.imageUrl %>" alt="<%= product.title %> image" />
      </div>
      <div class="card__content">
        <h2 class="product__price">$<%= product.price %></h2>
        <p class="product__description"><%= product.description%></p>
      </div>
      <div class="card__actions">
        <button class="btn edit-btn">Edit</button>
        <button class="btn delete-btn">Delete</button>
      </div>
    </article>
    <% } %>
  </div>
  <% } else { %>
  <h1>No Products Found!</h1>
  <% } %>
</main>

<script>
  const editButton = document.querySelector('.products-list .edit-btn');
  const deleteButton = document.querySelector('.products-list .delete-btn');

  editButton.addEventListener('click', () => {
    console.log('Clicked Edit');
  });

  deleteButton.addEventListener('click', () => {
    console.log('Clicked Delete');
  });
</script>
