<%
  const NAV_LINKS = [
    {path: '/shop', label: 'Shop'},
    {path: '/shop/products', label: 'Products'},
    {path: '/shop/cart', label: 'Cart'},
    {path: '/admin/add-product', label: 'Add Product'},
    {path: '/admin/products', label: 'Admin Products'},
  ]
%>

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/main.css" />
    <% try { %>
    <%- include(viewsPath + '/pages/' + page + '/meta.ejs') %>
    <% } catch (e) { %>
    <!-- Optional meta.ejs file not found. Ignoring... -->
    <% } %>
  </head>

  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <% for (const link of NAV_LINKS) { %>
          <li class="main-header__item">
            <a href="<%= link.path %>" class="<%= path === link.path ? 'active' : '' %>">
              <%= link.label %>
            </a>
          </li>
          <% } %>
        </ul>
      </nav>
    </header>

    <%- include(viewsPath + '/pages/' + page + '/outlet.ejs') %>
  </body>

</html>
